.navbar{
position:fixed;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 60px;
background:black;
color:white;
z-index:1000;
}

/* LOGO */

.logo-wrapper{
display:flex;
align-items:center;
gap:10px;
text-decoration:none;
}

.logo-image{
height:35px;
}

.logo-text{
font-size:28px;
font-weight:600;
color:#ff8c00;
}

/* NAV LINKS */

.nav-links{
display:flex;
gap:40px;
}

.nav-links a{
text-decoration:none;
color:white;
font-size:16px;
}

.nav-links a:hover{
color:#ff8c00;
}

/* RIGHT SIDE */

.auth-links{
display:flex;
gap:20px;
align-items:center;
}

.auth-links a{
text-decoration:none;
color:white;
}

.auth-links a:hover{
color:#ff8c00;
}

/* PROFILE */

.nav-profile{
width:40px;
height:40px;
border-radius:50%;
object-fit:cover;
cursor:pointer;
border:2px solid #ff8c00;
}